.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0 0 0;
}


.title {
  color: #00A8E8;
  font-size: 30px;
  letter-spacing: 2px;
}

.content {
  margin: 20px;
  width: 85%;
}
.content p {
  text-align: justify;
  text-justify: distribute;
}

@media (min-width: 49em) {

  .content {
    margin: 20px;
    width: 60%;
  }

}