.portfolio {
  margin: 10px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 85%;
  margin: 50px 0px
}

.portfolio-info {
  margin-bottom: 30px;
}

.title-line {
  flex-grow:1;
  border-bottom: 2px solid #00A8E8;;
}


.portfolio-title {
  display:flex;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.125em;
  color: #00A8E8;
  margin-bottom: 15px;
}

.portfolio-tech-skills {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15px;
}

.portfolio-links {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px
}

.portfolio-links a {
  font-size: 1.25em;
  color: #00A8E8;
  letter-spacing: 0.075em;
  font-weight: bold;
  margin-right: 10px
}

.portfolio-tech-skills h2 {
  color: #00A8E8;
  letter-spacing: 0.1em;
}
.portfolio-image {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%
}

.skill-item {
  padding: 5px 10px;
  color: #383E42;
  background: #F3F3F3;
  margin: 5px;
  border-radius: 10px;
}
.skill-item p {
  margin: 0;
  font-size: 1em; 
}



.device-image {
  width: 100%
}

.stocksapp-gif {
  position: absolute;
  width: 69%;
  top: 6.2%;
  bottom: 50%;
  border: 1px solid black
}

@media (min-width: 49em) {
  .portfolio-item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 60%;
    max-width: 800px;
  }

  .portfolio-image {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%
  }

  .device-image {
    width: 100%
  }

  .portfolio-title {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #00A8E8;
  }

  .stocksapp-gif {
    position: absolute;
    width: 69%;
    top: 6.2%;
    bottom: 50%;
    border: 1px solid black
  }

}
