@font-face {
  font-family: 'Dosis Regular';
  src: url('./fonts/Dosis/Dosis-VariableFont_wght.ttf')
}


body {
  background-color: #383E42;
  color: #F3F3F3;
  font-family: 'Dosis Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
