@font-face {
  font-family: 'Dosis Regular';
  src: url('./fonts/Dosis/Dosis-VariableFont_wght.ttf')
}


body {
  background-color: #383E42;
  color: #F3F3F3;
  font-family: 'Dosis Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

p {
  margin-bottom: 15px;
  letter-spacing: 0.075em;
  font-size: 1.25em;
  text-align: justify;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 
